*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;   
   }

body{
        font-family: 'Open Sans', sans-serif;
    }

    header{
        position: absolute;
        top: 0;
        left:0;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 40px 50px 100px 35px;
    }

    header h2 span{
        color: #05ca0f ;
    }

    header nav{
        display: flex;
    }

    header nav li{
        margin: 0 13px;
        border: 2px solid green;
        background-color:white;
        color: green;
        padding: 10px 5px;
        border-radius: 15%;
    }

    header nav li:hover{
        font-weight: bold;
    }

    header nav li:first-child{
        margin-left: 0;
    }
    header nav li:last-child{
        margin-right: 0;
    }

    .banner{
        height: 100vh;
    }
    .banner h3{
        padding-top: 30vh;
    }


    @media(max-width: 1000px){
        header{
            padding: 20px 50px;
        }
    }
    @media(max-width:700px){
        header{
            flex-direction: column;
        }
        header h2{
            margin-bottom: 15px;
        }
        header nav li{
            margin: 0 7px;
        }
    }


    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#33640b;
    }

    section h3.main{
        color: white;
    }

    @media(max-width: 600px){
        section{
            padding: 125px 30px;
        }
        section p {
            max-width: 800px;
            text-align: center;
            margin-bottom: 35px;
            padding: 0 20px;
            line-height: 2;
        }
        .banner{
            position: relative;
            justify-content: center;
            min-height: 100vh;
            color: green
            text-align: center;
        }

        .banner h3{
         padding-top: 0;
        }
        header nav {
            display: none;
        }

    }

    .banner .bannerImg{
        background-image: url("mainPhoto.jpg");
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        background-position: center center;
    }

    .banner .bannerImg:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6
    }

    .banner h1{
        margin-bottom: 15px;
        font-size: 65px;
        color: white; 
    }

    .banner h1 span{
        border-radius: 3%;
        background-color: white; 
        color: green; 
    }

    .banner h3{
        font-size: 25px;
        font-weight: 100;
    }

    .banner a.bannerBtn{
        padding: 20px 40px;
        background-color: white;
        text-transform: uppercase;
        border-radius: 7%;
    }

    .banner a.bannerBtn:hover{
        padding: 20px 40px;
        background-color:green;
        color: white;
        text-transform: uppercase;
        border-radius: 7%;
        border: solid black 1px;
        transition-delay:.1s;
    }

    @media(max-width:800px){
        .banner{
            min-height: 600px;
        }
        .banner h1{
            font-size: 27px;
        }
        .banner h3{
            font-size: 20px;
        }
        .banner a.bannerBtn{
            padding: 8px 20px ;
        }
    }

    @media(max-width:600px){
        .banner h1{
            font-size: 22px;
        }
        .banner h3{
            font-size: 15px;
        }

    }

    /* to sprawdzić */
    #about{
        background: #000000;
        border-top: 1px solid green;
    }

    h3.aboutMeTitle{
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 25px;
   text-decoration: underline;
    
    }

    ul.aboutMeContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
        margin-bottom: 50px;
    }

    
    .aboutMeContainer li{
        height: 400px;
        background-clip: content-box;
        background-size: cover;
        background-position: center;
    }
    .aboutPhoto{
        height: 100%;
        flex-basis: 25%;
        background-image: url("me.jpg");
        border: #33640b solid 2px;
        margin-right: 7vw;

    }

    .aboutText{
        flex-basis: 50%;
        text-align: justify;
    }



    /* to sprawdzić */


    .aboutMe p{
        max-width: 800px;
        margin-bottom: 35px;
        line-height: 1.5;
        text-align: left;
        padding-left: 0;
    }
    
    .aboutMeTitle{
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 3%;
        /* to też do spradzenia */
    }
    

    .aboutText h2{
        margin-bottom: 3%;
    }

    @media (max-width:1000px){
        .section-title{
            font-size: 35px;
        }
        .about-left,.about-right{
            flex-basis: 100%;
        }
        .about-content li{
            padding: 8px
        }

        .aboutPhoto{
            flex-basis: 40%;
        }

    }

    @media (max-width:600px){
        .aboutPhoto{
            flex-basis: 70%;
            margin: 0px;
            margin-bottom: 25px;
        }
         .aboutText{
            flex-basis: 70%;
         } 

         .aboutMe{
             padding: 0px;
         }
    }
    
    #technologies{
        background-color: #000000;
        border-top: green 1px solid;
        padding: 25px 10vw 25px 10vw
    }

.technologiesTitle{
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 15px;
}
    ul.technologiesExamples{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .technologiesExamples li{
        padding: 30px 30px;
        flex-basis: 33%;
        text-align: center;
    }

    .technologiesExamples li h4{
        font-size: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .technologiesExamples i{
        font-size: 30px;
    }


    @media (max-width: 1000px) {
        .technologiesExamples li{
            flex-basis: 100% ;
            margin-bottom: 5px;
            padding: 5px 30px;
        }
        .technologiesExamples li:last-child{
            margin-bottom: 0;
        }
        .technologiesExamples li p{
            padding: 0;
        }
    }
/* projects */
    #projects{
        background: #000000;
        border-top: green solid 1px;
        padding-top: 15px;
    }

    .finishedProjectTitle{
        padding-bottom: 15px;
        text-decoration: underline;
        font-size: 25px;
    }

    .finishedProject li{
        display: flex;
        margin: 15px 9% 15px 9%
    }
    .finishedProject img{
        background-size: cover;
        background-position: center center;
        width: 40vw;
        border: 2px solid green;
    }

    .finishedProject img:hover{
    cursor: pointer;
    opacity: 0.25
    }

    .projectText{
        text-align: justify;
        margin: auto 20px auto 20px;
    }

    .projectText span{
        color: #f36100;
        font-size: 20px;

    }

    .projectDiv{
        position: relative;
    }
    
    .projectDiv a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 55px;
        color:white;
    }


    @media (max-width: 1000px) {

    }

    /* projects */


    /* working on */
#future{
    background-color: black;
    border-top: solid 1px green;
    border-bottom: solid 1px green;
    padding-top: 15px;

}

.technologiesFutureTitle{
    padding-bottom: 15px;
    text-decoration: underline;
    font-size: 25px;
}

    ul.containerFuture{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .containerFuture li{
        padding: 0 0px 30px 0;
        flex-basis: 33%;
        text-align: center;
    }

    .containerFuture i{
    font-size: 25px;
    text-transform: uppercase;
    }


    .containerFuture li h4{
        font-size: 20px;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
    }



    @media (max-width: 1000px) {
        .containerFuture li{
            flex-basis: 100% ;
            margin-bottom: 15px;
        }
        .containerFuture i {
            font-size: 35px;
            margin-bottom: 10px;
        }
        .containerFuture li{
            padding: 0px;
        }
    }
    @media(max-width:800px){
        .finishedProject li{
            flex-direction: column;}

        .projectDiv{
            margin: 10px auto 10px auto;
        }

        .finishedProject img{
            width: 100%;
        }
        .finishedProject{
    padding-bottom: 15px;
        }

        .projectDiv:nth-child(2){
            order: -1
        }



    }

    @media (max-width: 600px){
        .technologiesFuture{ 
               padding: 0px;
            }
            .projectText{
                margin: auto 0px auto 0px;
            }



    }





    /* contact */

    #contact{
        background:black;
        padding-top:10px;
    }
    
    ul.contactContainer{
        padding-top:25px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contactTitle {
        text-decoration: underline;
        font-size: 25px;
    }
    
    .contactContainer li{
        padding: 0 30px;
        flex-basis: 33%;
        text-align: center;
    }
    
    .contactContainer li i {
        font-size: 40px;
        color: #f36100;
        margin-bottom: 25px;
    }
    
    .contactContainer li p{
        margin-bottom: 15px;
    }
    
    @media (max-width: 1000px){
        .contactContainer li {
            flex-basis: 100%;
            margin-bottom: 15px;
        }
        .contactContainer li:last-child{
            margin-bottom: 0;
        }
        .contactContainer li p{
            padding: 0;
        }
    }

    @media (max-width: 600px){
  .contact{
      padding: 0px;
  }
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        background-color: #000;
        padding: 20px 0;
    }

    footer p {
        text-decoration: overline
    }

    .contactContainer li i {
        cursor: pointer;
    }


    /* Animation */
    .animationContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;   
    }
    .animationContainer img{
        max-width: 40px;
        animation: coding 7s linear infinite;
    }

    @media(max-width:400px){
        .animationContainer img{
            width: 20px;
        }}

        @media(max-width:300px){
            .animationContainer img{
                width: 15px;
            }}


    .animationContainer img:nth-child(1){
        animation-delay: 1s;
    }
    .animationContainer img:nth-child(2){
        animation-delay: 3.5s;
    }
    .animationContainer img:nth-child(3){
        animation-delay: 2.5s;
    }
    .animationContainer img:nth-child(4){
        animation-delay: 2s;
    }
    .animationContainer img:nth-child(5){
        animation-delay: 4s;
    }
    .animationContainer img:nth-child(6){
        animation-delay: 1s;
    }
    .animationContainer img:nth-child(7){
        animation-delay: 3s;
    }
    .animationContainer img:nth-child(8){
        animation-delay: 2s;
    }
    .animationContainer img:nth-child(9){
        animation-delay: 1s;
    }
    .animationContainer img:nth-child(10){
        animation-delay: 4s;
    }

    @keyframes coding{
        0%{transform: translateY(0);
            display: none;
            opacity: 0;
        }

        10%{transform: translateY(0);
            display: none;
            opacity: 0;
        }

        25%{transform: translateY(0);
            opacity: 1;
        }

        100%{transform: translateY(-90vh);
            opacity: 0;
        }
    }
    html,body {
        overflow-x: hidden;
        }